# TMDB_BEARER_TOKEN=
TMDB_ACCESS_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1ZGI1OWJlZjRkYWNiMWNlMjE5YjMzNzZmYjU4ZjRiMCIsIm5iZiI6MTc3NDg3NzIyMy42MTEsInN1YiI6IjY5Y2E3YTI3NTNjMTY2ZWM2YTQ0ZWIxNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.79hDdFELsh1kpC9jy0ptcmXEYgx4jJS076ICktdkGeg"
TMDB_API_KEY="5db59bef4dacb1ce219b3376fb58f4b0"
TMDB_LANGUAGE="en-US"
YOUTUBE_API_KEY="AIzaSyCelIlY8DzZbQVw_f5sNS4HMVCWXkRBMBE"
YOUTUBE_REGION_CODE="IN"