# Virtual environments
.venv/
venv/
myenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Streamlit secrets
.streamlit/secrets.toml

# ML artifacts (optional)
artifacts/
*.joblib

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/